.container {
  --highlight-width: auto;
  --highlight-x-pos: 0;

  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.controls {
  display: flex;
  @apply h-fit;
  @apply flex-nowrap;
  @apply items-center;
  @apply gap-2;
  @apply rounded-full;
  @apply bg-zinc-100;
  @apply p-1;

  overflow: hidden;
  position: relative;
}

.controls::before {
  background-color: var(--control-active-bg);
  border: var(--control-active-border);
  @apply inline-block;
  @apply rounded-full;
  @apply top-1;
  @apply bottom-1;

  content: '';
  width: var(--highlight-width);
  transform: translateX(var(--highlight-x-pos));
  position: absolute;
  left: 0;
  z-index: 0;

  transition:
    transform 0.3s ease,
    width 0.3s ease;
}

.link {
  @apply relative;
  @apply z-10;
  @apply inline-block;
  @apply rounded-full;
  @apply px-3;
  @apply py-1;
  @apply text-sm;
  color: var(--foreground);
}

.activeLink {
  color: var(--control-active-color)
}
