@import 'tailwindcss';

@config '../../tailwind.config';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-foreground {
  color: var(--foreground);
}

@utility bg-foreground {
  background-color: var(--foreground);
}

@utility bg-control {
  background-color: var(--controls-bg);
}

@utility bg-control-active {
  background-color: var(--control-active-bg);
}

@layer base {
  :root {
    --accent-color: var(--color-orange-600);
    --background: var(--color-neutral-50);
    --foreground: var(--color-neutral-600);
    --color-primary: var(--color-neutral-900);

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --controls-bg: #f0f0f0;
    --control-active-bg: var(--color-white);
    --control-active-color: var(--color-neutral-900);
    --control-active-border: 1px solid var(--color-gray-200);
  }

  .dark {
    --background: var(--color-neutral-900);
    --foreground: var(--color-neutral-400);
    --color-primary: var(--color-neutral-100);

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --controls-bg: var(--color-zinc-800);
    --control-active-bg: var(--color-orange-600);
    --control-active-color: var(--color-neutral-300);
    --control-active-border: 0 none;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-medium;
  }
}

html {
  scrollbar-gutter: stable;
}

.wrapper {
  max-width: 850px;
}

.color-primary {
  color: var(--color-primary);
}

.prose a {
  color: var(--tw-prose-body);
  text-decoration: none;
  font-weight: normal;
  border-bottom: 3px solid var(--accent-color);
}

.prose a:hover {
  text-decoration: none;
  border-bottom: none;
}

dialog [data-rmiz-modal-overlay="visible"] {
  background-color: var(--background);
}