@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent-color: theme(colors.orange.600);
    --background: theme(colors.neutral.50);
    --foreground: theme(colors.neutral.600);
    --color-primary: theme(colors.neutral.900);

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --controls-bg: #f0f0f0;
    --control-active-bg: theme(colors.white);
    --control-active-color: theme(colors.neutral.900);
    --control-active-border: 1px solid theme(colors.gray.200);
  }

  .dark {
    --background: theme(colors.neutral.900);
    --foreground: theme(colors.neutral.400);
    --color-primary: theme(colors.neutral.100);

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --controls-bg: theme(colors.zinc.800);
    --control-active-bg: theme(colors.orange.600);
    --control-active-color: theme(colors.neutral.300);
    --control-active-border: 0 none;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-medium;
  }
}

@layer utilities {
  .text-foreground {
    color: var(--foreground)
  }

  .bg-foreground {
    background-color: var(--foreground);
  }

  .bg-control {
    background-color: var(--controls-bg);
  }

  .bg-control-active {
    background-color: var(--control-active-bg);
  }
}

html {
  scrollbar-gutter: stable;
}

.wrapper {
  max-width: 850px;
}

.color-primary {
  color: var(--color-primary);
}

.prose a {
  color: var(--tw-prose-body);
  text-decoration: none;
  font-weight: normal;
  border-bottom: 3px solid var(--accent-color);
}

.prose a:hover {
  text-decoration: none;
  border-bottom: none;
}

dialog [data-rmiz-modal-overlay="visible"] {
  background-color: var(--background);
}